<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render partial: "search_means/form", locals: { means: [] } %>
    </div>
  </div>

  <!-- ストレス解消法一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <%= render @means %>
      </div>
      <!-- ページネーション -->
      <%= paginate @means %>
    </div>
  </div>
</div>
