<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>簡易ストレス診断</h1>
      <%= render 'form', { stress_diagnosis: @stress_diagnosis } %>
    </div>
  </div>
</div>