<main>
  <div class="container">
    <div class="introduction">
      <h1>アプリの利用方法</h1>
      <p>アプリの目的</p>
        <ul>
          このアプリはストレスを減らすために開発されたアプリです。
          ネガティブな感情を吐露することで、ストレスが軽減されることが研究によって明らかになっています。
          周りの人には相談しにくいこと、喋りづらいことなどがありましたら、
          このアプリを用いて、書き込みをしましょう。
          アプリを通して、自分の感情を吐露し続けることでストレスが減少していくことでしょう。
        </ul>
      <p>アプリに実装されている主な機能と使い方</p>
      <ol>
        <li>ログイン・サインアップ機能</li>
          <ul>
            <li>
              アプリを利用する前にアカウントの登録をしましょう。
              アカウントの登録、ログインなしでもアプリを使用できますが、
              機能が制限されます。
            </li>
            <li>アカウントの登録後、ログインをしてください。</li>
            <li>パスワードを忘れた場合は、パスワードリセット機能で再設定しましょう。</li>
          </ul>
        <li>日記投稿機能</li>
          <ul>
            <li>
              日記は1日に一度だけ投稿することができます。
              再度、投稿したい場合は、一度投稿したものを削除してからにしてください。
            </li>
            <li>
              日記には、一日を通して、ストレスを感じたこと、嬉しかったこと
              明日の目標などを記述することができます。
            </li>
            <li>
              日記投稿後、ストレス診断、幸福度診断を受けることになります。
              診断を通して、自分自身のストレス値、幸福度を客観的に知ることができます。
            </li>
            <li>
              日記のタイトルで、投稿を検索することができます。
            </li>
          </ul>
        <li>ストレス解消法投稿機能</li>
          <ul>
            <li>
              ストレス解消法には、ストレスを感じていた時の状況、
              ストレスを解消するために行った行為、そして、
              ストレス解消法を行った結果などを記入することができます。
            </li>
            <li>
              検索機能を用いて、目当ての投稿を取得することができます。
              ストレス解消法のタイトル、ストレスを解消させるために用いた方法、カテゴリーでの検索ができます。
            </li>
          </ul>
        <li>マイページ機能</li>
          <ul>
            <li>自分が過去に投稿した日記やストレス解消法などを閲覧できます。</li>
            <li>ブックマークやお気に入りをつけた他のユーザーの投稿を閲覧することができます。</li>
            <li>
              プロフィール画面で、自分の趣味を選択すると、（最大3つまで）
              他のユーザーが投稿したストレス解消法の中で
              ユーザーに適したストレス解消法をランダムで提示してくれます。
            </li>
            <li>
              ランキング機能を用いると、どのユーザーが投稿に関して、
              いいねや共感を他のユーザーからどれくらい貰っているのかが分かります。
            </li>
            <li>
              グラフ機能を用いると日記投稿後、１週間の自分自身のストレス値、幸福度の
              変化の推移を確認することができます。
            </li>
            <li>プロフィール画面で、ユーザー名などを編集することができます。</li>
          </ul>
        <li>リマインダー機能</li>
          <ul>
            <li>ラインを使って、アプリ専用Bot、DiaryBotを友だち追加しましょう。</li>
            <li>
              DiaryBotにメッセージを送ると、指定した時間にアプリを使うようにメッセージ
              を送ってくれたり、過去に設定したリマインダーの時間を教えてくれたりします。
            </li>
          </ul>
        <li>その他の機能</li>
          <ul>
            <li>
              ユーザーが投稿した日記、ストレス解消法にコメントを投稿できる、コメント機能があります。
              他のユーザーの気分を害するようなコメントは控えましょう。
            </li>
            <li>
              悪質な言動を行うユーザーをアプリ内で見かけた場合、
              投稿一覧画面から、ユーザー名をクリックすると、該当するユーザーの
              プロフィール画面に移動し、そこでユーザーを管理者に通報することができます。
            </li>
            <li>
              このアプリには、管理者専用の管理機能があります。
              複数のユーザーから通報を受けた場合、
              悪質な言動を行う、ユーザーを管理者が削除することがあります。
            </li>
          </ul>
      </ol>
      <p>ご不明点があれば、お気軽にお問い合わせください。</p>
    </div>
  </div>
</main>
