<div class="container mb-5 pt-2">
  <h2>日記投稿一覧</h2>
  <div class="row">
    <div class="col-md-12 mb-3">
      <%= render 'search_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">日記投稿ID</th>
          <th scope="col">タイトル</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">作成日時</th>
          <th scope="col"></th>
        </tr>
        <tbody>
        <%= render @diaries %>
        </tbody>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @diaries %>
    </div>
  </div>
</div>
